/* geral */
html {
	font-family: 'Open Sans', sans-serif;
}

/* reset */
body {
	margin: 0;
}

h1, h2, h3, h4, h5, p, span {
	margin: 0;
	color: #666;
}

.container {
	max-width: 1920px;
	width: 100%;
}
.container{
	width: 100%;
	margin-top: 10%;
	font-family: sans-serif;
	letter-spacing: 1px;
}
.container h2
{
	background: #800080;
	color:#fff;
	width: 250px;
	font-size: 24px;
	padding: 5px;
	height: 40px;
}
.container h2::after
{
	content: '';
	border-top: 40px solid #800080;
	border-right: 40px solid transparent;
	position: relative;
	left: 48px;
	top: 34px;
}
.row{
	margin-top: 90px;
}
img{
	width: 15%;
}
.product-bottom .fa{
	color: #28a745;
	font-size: 10px;
}
.product-bottom h3{
	font-size: 15px;
	font-weight: bold;
}
.product-bottom h5{
	font-size: 15px;
	padding-bottom: 10px;
}
.overlay
{
	display: block;
	opacity: 0;
	position: absolute;
	top: 50%;
	margin-left: 0;
	width: 52px;
}
.product-top:hover .overlay
{

	opacity: 1;
	margin-left: 5%;
	transition: 0.5s;

}
.overlay .fa
{
	cursor: pointer;
	background-color:#fff;
	color: #000;
	height: 15px;
	width: 35px;
	font-size: 10px;
	padding: 7px;
	margin: 5%;
	margin-bottom: 5%;
}
.overlay .btn-secondary
{
	background: transparent !important;
	border: none !important;
	box-shadow: none !important;
}

/* header */
header {
	position: relative;
	top: 0;
	height: auto;
	width: 100%;
}

/* navbar */
nav {
	position: fixed;
	top: 0;
	height: 100px;
	width: 100%;
	z-index: 1;
	background-color: #FFF;
	border-bottom: 1px solid #CCC;
 }

 nav:after {
 	clear: both;
 	content: "";
 	display: block;
 }

 .nav-container {
 	max-width: 1200px;
 	position: relative;
 	margin-right: auto;
 	margin-left: auto;
 }

 #logo {
 	width: 50px;
 	height: 50px;
 	margin-top: 15px;
 }

 .nav-container ul {
 	float: right;
 	height: 100px;
 	line-height: 100px;
 	margin: 0;
 }

 .nav-container li {
 	list-style: none;
 	float: left;
 	margin: 0 15px;
 }

 .nav-container li a {
 	text-decoration: none;
 	color: #666;
 	transition: .5s;
 }

 .nav-container li a:hover {
 	color: #3381F3;
 }

 #search-form {
 	position: relative;
 	width: 80%;
 	margin-left: auto;
 	margin-right: auto;
 	padding-top: 15em;
 	padding-bottom: 15em;
 	text-align: center;
 }

 #search-form h1 {
 	font-size: 40px;
 }

 #search-form p {
 	margin-top: 30px;
 	margin-bottom: 60px;
 	font-size: 18px;
 	font-weight: 300px;
 }

/* Formulario */
 #search-form input, #search-form select {
 	background-color: #FFF;
 	border-radius: 5px;
 	border-color: transparent;
 	padding: 10px 20px;
 	font-size: 18px;
 	margin: 0 10px;
 }

#search-form input[type=submit] {
 	background-color: #3381f3;
 	text-transform: uppercase;
 	color: #FFF;
 	cursor: pointer;
 	transition: 0.5s;
 }

 #search-form input[type=submit]:hover {
 	background-color: #2B79EB;
 	/*background-color: #191970;*/
 }
